.icon {
    width: 20px;
    display: table-cell;
    font-size: 13px;
    vertical-align: top;
    position: relative;
    top: 5px;
}

.text {
    display: table-cell;
    vertical-align: top;
}
.liStyle{
    list-style: none;
    margin-bottom: 10px !important;
    font-size: 13px;
}

.ulStyle{
    padding-inline-start: unset;
}
